<form *ngIf="updateForm" [formGroup]="updateForm" (ngSubmit)="onUpdate()">
    <div class="row">
        <div class="col-md-6 mb-4">
          <input id="form2" class="form-control form-control-lg" formControlName="tradeName" id="form2"/>          
          <label class="form-label" for="form2">Торговое наименование</label> 
          @if(updateForm.controls["tradeName"].invalid && updateForm.controls["tradeName"].touched){
            <div class="error-style">Required</div>
          }  
        </div>    
        <div class="col-md-6 mb-4">
          <input id="form2" class="form-control form-control-lg" formControlName="interName" id="form3"/>
          @if(updateForm.controls["interName"].invalid && updateForm.controls["interName"].touched){
            <div class="error-style">Required</div>
          }          
          <label class="form-label" for="form3">Международное наименование</label>   
        </div>   
    </div> 


    <div class="row">
      <div class="col-md-6 mb-4">

        <select formControlName="manufacturer" name="manufacturer" class="form-select"  required>
          @for (item of manufacturersList; track $index) {
            <option [value]="item.id">{{item.manufacturerName}}</option>
          }
        </select>
        
        <label class="form-label">Производитель</label>
      </div>                   
      <div class="col-md-6 mb-4">
        <div data-mdb-input-init class="form-outline">

          <select formControlName="medForm" name="medforms" class="form-select" required>
            @for (item of medformsList; track $index) {
              <option [value]="item.id">{{item.title}}</option>
            }
          </select>
          
          <label class="form-label" >Лекарственная форма</label>
        </div>
      </div>
    </div> 

    <div class="row">
        <div class="col-md-6 mb-4">  
          <ng-multiselect-dropdown
            [placeholder]="' '"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            formControlName="substance"
          >
          </ng-multiselect-dropdown> 
          <label class="form-label">Действующие вещества</label>
        </div> 

        <div class="col-md-6 mb-4">  
          <ng-multiselect-dropdown
            [placeholder]="' '"
            [settings]="dropdownDoseSettings"
            [data]="dropdownDoseList"   
            formControlName="doses"
          >
          </ng-multiselect-dropdown>
          <label class="form-label" >Доза</label>
        </div> 
      </div> 

      <div class="row">
        <div class="col-md-6 mb-4">
          <div data-mdb-input-init class="wrap form-outline">
            <input formControlName="imageUrl" type="text" name="imageUrl" id="form4" class="form-control form-control-lg" />
            <label class="form-label" for="form4">Фото</label>
          </div>
        </div>
      </div> 

      <button type="submit">SUBMIT</button>
</form>
